{% extends "layout.html.twig" %}

{% block content %}

    <div class="jumbotron text-center">

        <h1>You've done great! <br> You managed to recall {{ score }} words out of 30. <br> Thank you for your
            participation!</h1>
        <h3>This is the end of the experiment. <br> You can now close this tab or window.</h3>


    </div>

{% endblock %}
