{% extends "layout.html.twig" %}

{% block content %}


    <div class="jumbotron text-center">
        <h1 class="display-3">Memory research</h1>
        <p class="lead">This research is intended to further our understanding of how failures of memory affect
            language. <br> The whole process should take about 5 minutes.</p>
        <p><a class="btn btn-xlg btn-success" href="{{ path('info') }}" role="button">Start</a></p>
    </div>

{% endblock %}
