<!DOCTYPE html>
<html>
<head>

    <title>Memory Research</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
        if ($("<input />").prop("required") === undefined) {
            $(document).on("submit", function (e) {
                $(this)
                    .find("input, select, textarea")
                    .filter("[required]")
                    .filter(function () {
                        return this.value == '';
                    })
                    .each(function () {
                        e.preventDefault();
                        $(this).css({"border-color": "red"});
                        alert("Please fill the year of your birth, your first language and gender!");
                    });
            });
        }
    </script>

    <style>
        .btn-xlg {
            padding: 18px 28px;
            font-size: 25px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

    </style>

</head>
<body>

<div class="container">

    <main role="main" style="margin-top: 10em;">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>© Tomasz Darmetko 2017</p>
    </footer>

</div>

</body>
</html>
