{% extends "layout.html.twig" %}

{% block content %}

    {% if show %}

        <script>
            $(function () {

                $('#word').delay(3000).fadeOut(500, function () {

                    $('#recall').fadeIn(500);
                    $('#wordrecall').focus();

                });

            });
        </script>

    {% endif %}

    <style>
        .mt3em {
            margin-top: 3em;
        }
    </style>

    <div class="jumbotron text-center">

        {% if show %}

            <h1 class="display-3" id="word">{{ word }}</h1>

        {% endif %}

        <form id="recall" method="post" class="mt3em" {% if show %} style="display: none;" {% endif %}>

            <div class="form-group row">
                <label name="first-language" class="col-sm-3 col-form-label col-form-label-lg">The answer</label>
                <div class="col-sm-9">
                    <input id="wordrecall" name="recall" class="form-control form-control-lg" type="text" placeholder="Type the word as you remember it..."/>
                </div>
            </div>

            <p style="margin-top: 3em;">
                <button type="submit" class="btn btn-xlg btn-success">Confirm</button>
            </p>

            <small>You have {{ toGo }} words remaining.</small>

        </form>

    </div>

{% endblock %}
